@font-face {
    font-family: 'helsinki';
    src: url(helsinki-webfont.woff);
}

.frontpagetitle {
    font-family: 'helsinki';

}

@font-face {
    font-family: 'museo_slab';
    src: url(Museo_Slab_500_2-webfont.woff);
}

.results {
    font-family: 'museo_slab';
    font-size: 150%;
    padding-top: 12px;
    padding-bottom: 12px;
}

#playedurself {
	width: 600px;
}

.footerclass {
	margin-left: 1100px;
}

#thekey {
    position: relative;
    left: 20%;
    top: 20%;
}


